.App {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #EBECEE;
    min-height:100vh
  }

  .link{
    font-size: 3em;
    text-decoration: none;
    background-color: #FDFDF4;
  }
  


@media (max-width: 1024px){
  
}
