.App {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    margin: 0 auto;
    background-color: #FDFDF4;
    height:100vh
  }

  .link{
    font-size: 3em;
    text-decoration: none;
    background-color: #FDFDF4;
  }
  
#hero{
    width: 100%;
    margin: 20px 0 0;
  }


@media (max-width: 1024px){
  
}
